name: Build and Push Docker Image

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: 显示上下文信息
      run: |
        echo "仓库: ${{ github.repository }}"
        echo "提交: ${{ github.sha }}"
        echo "触发者: ${{ github.actor }}"
        echo "分支: ${{ github.ref }}"
        echo "事件: ${{ github.event_name }}"

    - name: Checkout code
      uses: actions/checkout@v4

    # - name: Set up Go
    #   uses: actions/setup-go@v4
    #   with:
    #     go-version: '1.21'

    # - name: Run Go tests
    #   run: |
    #     go mod tidy
    #     go test -v ./...

    - name: Set up QEMU (可选，多架构需要)
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: |
          ghcr.io/${{ github.repository }}:latest
          ghcr.io/${{ github.repository }}:${{ github.sha }}
