name: Build and Push Docker Image

on:
  push:
    branches: [ main ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }} # 自动获取 "用户名/仓库名"

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
    # 0. 显示信息
    - name: 显示上下文信息
      run: |
        echo "仓库: ${{ github.repository }}"
        echo "提交: ${{ github.sha }}"
        echo "触发者: ${{ github.actor }}"
        echo "分支: ${{ github.ref }}"
        echo "事件: ${{ github.event_name }}"

    # 1. 拉取代码
    - name: Checkout code
      uses: actions/checkout@v4

    # 2. 登录 GitHub 容器仓库 (使用内置 Token)
    - name: Login to GHCR
      uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    # 3. 生成标签 (Tags)
    - name: Extract metadata
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
        tags: |
          type=raw,value=latest
          type=sha

    # 4. 构建并推送
    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
